/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.4;
	margin: 0;
}

h1 {
	color: white;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
	color: #404040;
}

ul {
  	margin: 0;
  	padding: 0;
  	list-style: none;
}

a {
	color: #009999;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: 1.1em;
	background: rgba(0,153,153, .85);
	color: white;
	padding: 1em;
	position: absolute;
	bottom: 0;
	width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.logo {
	border-radius: 50%;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 100px;
	height: 100px;
}

.name {
	font-size: 2.5em;
	margin: 0.5em;
	color: white;
}

.name,
.main-nav {
	text-align: center;
	margin-top: 5px;
}

.main-nav a {
	display: block;
	padding: 0.5em;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #001933;
}

.main-content {
	padding: .5em;
	flex: 1;
}

.main-footer {
	width: 100%;
	background: #001933;
	text-align: center;
	padding: 1em 0;
	color: white;
}

.col {
	padding: .5em;
	display: block;
}


/* ================================= 
  Media Queries
==================================== */

/* ---- For Tables ---- */

@media (min-width: 769px) {
	
	.main-header, 
	.main-nav,
	.main-content,
	.col {
		display: flex;
	}
	
	.main-header {
		flex-direction: column;
		align-items: center;
	}
	
	.main-content {
		flex-wrap: wrap;
		justify-content: space-around;
	};
	
	.col {
		max-width: 50%;
		flex: 1 auto;
	};
	
}

@media (min-width: 1025px) {
	
	.main-header {
		flex-direction: row;
		justify-content: space-between;
		
	}
	
	.logo,
	.name {
		margin: auto;
	}
	
	
}







