/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #404040;
	line-height: 1.4;
}

h1 {
	color: white;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

a {
	color: #009999;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.logo {
	border-radius: 50%;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.name {
	font-size: 2.5em;
}

.name,
.main-nav {
	text-align: center;
}

.main-nav li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 15px;
}


/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
	min-height: 
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #001933;
}

.main-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #c0c0c0;
	text-align: center;
	height: 20px;
}


/* ---- Social Media ---- */

.fa {
	align-content: center;
    border-radius: 50%;
	padding: 10px;
	margin: 10px;
}

.fa-facebook {
	background: #3B5998;
  	color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- For mobile phones ---- */

@media (min-width: 768px) {
	.container {
		width: 90%;
		max-width: 1150px;
		margin: 0 auto;
	}
	
	.col {
		float: left;
		padding-left: auto;
		padding-right: auto;
	}
	
	.cantmiss {
		width: 50%;
	}
	
	.review {
		width: 50%;
	}
	
	.interview {
		width: 50%;
	}
	
	.flickr {
		width: 50%
	}
}

/* ---- Columns ---- */







